.welcome-btn {
  margin-right: 20px; 
}

form {
  margin-right:20px;
  margin-left:20px;
}

.field_with_errors {
  color: red;
}

.small-column {
  width: 50px;
}
.very-small-column {
  width: 10px;
}