// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.mini-table {
  margin-left:10px;
}

table.mini-table th.mini-label {
  width: 100px;
}

#unselect_all {
  display: none;
}

#notice {
  width: 500px;
  border: 1px solid greenyellow;
  margin: 5px;
  display: none;
}

#notice div {
  padding: 5px;
}